<h1>The Poor Man's iTunes</h1>
<br/>

<h3>Sign in</h3>

<%= render "shared/form",
    user: @user,
    url_dest: session_url,
    http_method: :post,
    submit_text: "Sign in" %>

<br/>
<%= link_to "Register", new_user_url %>
<br/>
<% @sign_in_page = true %>
