<h1>Sign in</h1>

<%= render "shared/form",
    user: @user,
    url_dest: session_url,
    http_method: :post,
    submit_text: "Sign in" %>

<br/>
<%= link_to "Register", new_user_url %>
<br/>
<% @sign_in_page = true %>
