<h1>Ahoy!</h1>

<p>We're so happy to have you at the Poor Man's Itunes!</p>
<p>Please activate your account. Click the link below:</p>
<%= link_to "Activate Account", edit_activation_url(activation_token: @user.activation_token) %>
